
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue','Roboto', sans-serif,
      sans-serif;
      /* font-family: 'Roboto', sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  
  
  /*Обнуление*/
  *{
      padding: 0;
      margin: 0;
      border: 0;
  }
  *,*:before,*:after{
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
  }
  :focus,:active{outline: none;}
  a:focus,a:active{outline: none;}
  nav,footer,header,aside{display: block;}
  html,body{
      height: 100%;
      width: 100%;
      font-size: 100%;
      line-height: 1;
      font-size: 14px;
      -ms-text-size-adjust: 100%;
      -moz-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
  }
  input,button,textarea{font-family:inherit;}
  input::-ms-clear{display: none;}
  button{cursor: pointer;}
  button::-moz-focus-inner {padding:0;border:0;}
  a, a:visited{text-decoration: none;}
  a:hover{text-decoration: none;}
  ul li{list-style: none}
  ul,li{display: block;}
  img{vertical-align: top;}
  h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
  /* font-size:  calc(16px + 20 * (100vw / 1400)); */
  /*--------------------*/
  
   

  $title:calc(25px + 25 * (100vw / 1400));

.loader {
  height: 100vh;
  img{
    display: block;
    width: calc(200px + 300 * (100vw / 1400));
    height: calc(200px + 300 * (100vw / 1400));
  }
}
     
  .app {
    font-family: "Segoe UI";
  }
  .sideContainer{
    max-width: 1200px;
    margin: 0 auto;
  }
  .app__content{
      padding: 100px 10px 0 10px;
  }
  
  
  /* nav>>>>>>>>>>>>>>>>> */
  .navigation{
    z-index: 2;
    position: fixed;
    max-width: 1200px;
    width: 100%;
    visibility: visible;
    opacity: 1;
    transition: 0.3s ease all;
    top: 0;
    &.hidden{
      top: -100px;
      visibility: hidden;
      // opacity: 0;
    }  
  }
  .nav__content{
    position: relative;
  }
  .nav__logo img{
    z-index: 2;
    position: relative;
    max-width: calc(40px + 20 * (100vw / 1400));
    border-radius: 50px;
    margin-left: 20px;
    &.lng{
      width: 25px;
      height: 25px;
      cursor: pointer;
    }
  }

body.mouse{

  .navigation{
    background: #000;
    a{
      color:white;
      &:hover{
        color:yellow
      }
    }
  }
  

  .nav__items{
    pointer-events: none;
    padding: 10px;
    margin: auto 0;
  }
  .nav__item{
    position: relative;
    a{
      font-size: 18px;
      font-weight: 500;
      color:white;
      &:hover{
        color:yellow
      }
      .item-active{
        color: yellow;
      }
    }
  padding: 20px 40px 20px 0;
  &:hover .nav__item-items{
    visibility: visible;
    pointer-events: all;
    opacity: 1;
  }
  pointer-events: all;
  }
  .nav__item-items{
    pointer-events: none;
    transition: 0.5s ease all;
    visibility: hidden;
    opacity: 0;
    padding: 15px 0 0;
    position: absolute;
  }
  .nav__item-item{
    position: relative;
    background: #000;
    left: 0;
    padding: 12px;
    &:hover .nav__item-item-items{
      visibility: visible;
      opacity: 1;
    }
  }
  .nav__item-item-items{
    transition: 0.5s ease all;
    visibility: hidden;
    opacity: 0;
    left: 100%;
    top: 0;
    padding: 0 0 15px 0;
    position: absolute;
  }
  .nav__item-item-item{
    padding: 10px;
    background: #000;
  }
}

  
/* nav>>>>>>>>>>>>>>>>> */

 .modale{
   width: calc(200px + 150 * (100vw / 1400));
   height: calc(200px + 150 * (100vw / 1400));
   position: fixed;
   border: 3px solid rgba(7, 8, 9, 0.9);
   border-radius: 10px;
   z-index: 2;
   overflow: hidden;
   transition: 1s ease all;
   .slick-arrow{
    height: 0;
    width: 0;
    font-size: 0px;
    position: absolute;
    z-index: 2;
    background: transparent;
  }
  
  .slick-prev{
    border-right: 20px solid rgba(0, 0, 0, 0.8);
    border-left: 20px solid transparent;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    left: 0;
    top: 45%;
  }
  .slick-next{
    border-left: 20px solid rgba(0, 0, 0, 0.8);
    border-right: 20px solid transparent;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    right: 0;
    top: 45%;
    
  }
 }
 .modal__container{
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0,0.8);
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s ease all;
}
 .modale__icon{
   color: black;
   font-size: 40px;
   cursor: pointer;
   position: absolute;
   right: 10px;
   top: 0;
   z-index: 2;
   &:hover{
     color:red
   }
 }
 

 .modale img{
  display: inline-block;
  transition: 1s ease all;
  width: calc(200px + 150 * (100vw / 1400));
  height: calc(200px + 150 * (100vw / 1400));
  transition: 1s ease all;
  margin: 0 auto;
  
}





  
  /* nav>>>>>>>>>>>>>>>>> */


//   homePage>>>>>>>>>>>>>



.homePage__img{
    max-height: calc(50px + 550 * (100vw / 1400));
    overflow: hidden;
  }
  .homePage__slider::after{
    margin-top: 50px;
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: #000;
  }
  .homePage img{
   width: 100%;
   max-height: calc(50px + 480 * (100vw / 1400));
  }
  .homePage__info{
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      margin-top: 50px;
      padding-bottom: 50px;
  }
  .homePage__title{
      font-size:  $title;
      padding-bottom: 50px;
      font-family: 'Pacifico';
      font-weight: 500;
  }
 .homePage__text{
     cursor:pointer;
     line-height: 26px;
     border-radius: 20px;
     padding: 20px 10px; 
     transition: 0.5s ease all;
     &:hover{
        -webkit-box-shadow: 0px 0px 100px 0px rgba(34, 60, 80, 1);
        -moz-box-shadow: 0px 0px 100px 0px rgba(34, 60, 80, 1);
        box-shadow: 0px 0px 100px 0px rgba(34, 60, 80, 1);
     }
 }

 .slick-arrow{
   font-size: 0;
 }
 
  
.homePage__slider ul.slick-dots{
    li{
      display: inline-block;
      margin: 10px ;
      button{
        font-size: 0;
        border: 3px solid black;
        border-radius: 20px;
      }
    }
    li.slick-active{
      button{
        border: 3px solid grey;
      }
    }
  }
  
 


//   homePage>>>>>>>>>>>>>

//churches>>>>>>>>>>>>>>>>>>

.building::after{
  content: "";
  display: block;
  height: 3px;
  width: 50%;
  background: #000;
  margin: 60px auto;
}
.building__name{
  text-align: center;
  font-size: calc(15px + 25 * (100vw / 1400));
  margin: 30px 0 80px;
  font-weight: 500;
}
.building__text{
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}
.building__photos{
  margin-top: 50px;
}
.building__photo { 
  transition: 0.3s ease all;
  width: 200px;
  height: 200px;
  cursor:pointer;
  padding: 10px;
  &:hover{
    opacity: 0.5;
  }
}


//churches>>>>>>>>>>>>>>>>>>

@media(max-width:987px){

 
 
    // nav>>>>>>>>>>>>>





    body.touch{

      .navigation{
        position: fixed;
        background: #000;
        a{
          color:white;
        }
      }
      .nav__menuBg{
        transition: 0.5s ease all;
        top: -100%;
        width: 100vw;
        height: 100%;
        position: fixed;
        background: #000;
        &.active{
          top: 0;
        }
      }
      .nav__menu{
        transition: 0.5s ease all;
        top: -100%;
        width: 100vw;
        height: 100vh;
        position: fixed;
        background: #000;
        &.active{
          top: 60px;
        }
      }
      .nav__items{
        flex-direction: column;
        position: relative;
      }
      .nav__item{
        .menu__arrow{
          opacity: 0.5;
          pointer-events: none;
          transition: 0.3s ease all;
          width: 0;
          height: 0;
          border: 10px solid transparent;
          border-top: 10px solid white;
          position: absolute;
          left: 80%;
          &.active{
            transform: rotate(180deg);
            border-top: 10px solid yellow
          }
        }
        a{
          font-size: 20px;
          font-weight: 500;
          color:white;
          .item-active{
            color: yellow;
          }
          &.activeLink{
            color: yellow;
            &.active .nav__item-items{
              display: block;
            }
            .menu__arrow{
              pointer-events: all;
              opacity: 1;
            }
          }
        };
      padding-top: 10px;
      &.active .nav__item-items{
        display: block;
      }
      }
      .nav__item-items{
        display: none;
      }
      .nav__item-item{
        padding: 10px 0 0 10px;
        left: -27px;
        z-index: 5;
        &.active .nav__item-item-items{
          display: block;
        }
      }
      .nav__item-item-items{
        display: none;
      }
      .nav__item-item-item{
        padding: 10px;
        background: #000;
      }
      .nav__burger{
        width: 30px;
        height: 25px;
        top: 25px;
        right: 30px;
        cursor: pointer;
        position: absolute;
        z-index: 4;
        cursor: pointer;
        span{
          display: block;
          transition: 0.5s ease all;
          width: 35px;
          height: 2px;
          background: white;
          position: absolute;
          z-index: 5; 
        };
         &::after,&::before{
          transition: 0.5s ease all;
          content: "";
          width: 35px;
          height: 2px;
          background: white;
          display: block;
          position: absolute;
          z-index: 5;
         }
         &::after{
           margin-top: 14px;
         }
         &::before{
          margin-top: 7px;
        }
        &.active span{
          transform: rotate(44deg);
          margin-top: 8px;
      }
      &.active::before{
          display: none;
      }
      &.active::after{
          transform: rotate(-45deg);
          margin-top: 8px;
          
      }
    }
    .nav__logo{
      padding: 10px;
    }
    .building__photo { 
      transition: 0.3s ease all;
      width: 200px;
      height: 200px;
      cursor:pointer;
      padding: 10px;
      &:hover{
        opacity: 1;
      }
    }
  }
    









    // nav>>>>>>>>>>>>>

    // homePage>>>>>>>>>>>


    .homePage__info{
      margin-top: 20px;
  }
  .homePage__title{
    font-size:  calc(25px + 25 * (100vw / 1400));
      padding-bottom: 20px;
      font-family: 'Pacifico';
      font-weight: 500;
  }
 .homePage__text{
     cursor:pointer;
     line-height: 20px;
     padding: 10px 10px; 
     transition: 0.5s ease all;
     &:hover{
        box-shadow: none;
     }
 }

 // homePage>>>>>>>>>>>

 //churches>>>>>>>>>>>>>>>>>>


//churches>>>>>>>>>>>>>>>>>>
}


    
    